body {
  color: #333333;
  background-color: #fafafa;
}

#app {
  margin: 100px auto;
  width: 600px;
}

#app h1 {
  height: 40px;
  line-height: 40px;
  font-size: 40px;
  text-align: center;
}

.input-panel {
  height: 60px;
  line-height: 60px;
}

.inputer {
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 24px;
  border: 0;
  padding: 6px;
  border: 1px solid #999;
  box-sizing: border-box;

  padding: 16px 16px 16px 16px;
  border: 1px solid #dedede;
  background: #ffffff;

  outline-style: none;
  border-radius: 10px;
  color: #333333;
}

::-webkit-input-placeholder {
  color: #cecece;
}

.list-panel {
  margin-top: 15px;
  min-height: 600px;
  background-color: #ffffff;
  border: 1px solid #dedede;
  border-radius: 10px;
}